extends layout

block content

  body
    .content
      // - HEADER ----------------------------
      header
        #logo
          li
            a Mister-Gaming
        nav#main-nav
          ul
            li
              a(href='https://forum.mister-gaming.de/') Forum
            li
              a(href='index.php') Home
            li
              a(href='Matches.php') Matches
            li
              a(href='Teams.php') Teams
            li
              a(href='Events.php') Events
            li
              a(href='Partner.php') Partner
      // - HOME ----------------------------
      section#home
        hr
        h1 Mister-Gaming
        h2 Map Ban
        <?php echo "mapban"; ?>
        a.page-scroll(href='#about')
          img(src='img/Icon/pfeil.png', alt='Pfeil')
      // - ÜBER UNS ----------------------------
   section#about
     h3 Best of Three
     h4(id="gameMessage").gameMessage
     div.viewBox
        div.menu
          div.playerInfoBox
                span.playerNameBox
                    span(id="playerName").basetext
                span.updateBut
                    a(id="updateName",href="#about").gameButton ✎
          div.gameList
                ul(id='availGames').gameText  			
        div.tictacbox
         div.outline
            div.row0
                div(id='row0_0').boxdims
                     div(id='row0_0img').bck
                      img(src='https://steamuserimages-a.akamaihd.net/ugc/933804182311104777/C4390D0148B566954591989CD25E60B0B396BBAE/')
                     h6 Clubhouse
                     div(id='row0_0pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row0_0banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row0_0decider').overlay
                      img(src='../img/Decider.png')
                div.col2.coldim
                    div(id='row0_1').colbox
                     div(id='row0_1img').bck
                      img(src='http://imguol.com/xleague/news/e0/2017/07/23/rainbow-six-siege---mapa-consulado-1500840798297_800x449.jpg')
                     h6 Consulate
                     div(id='row0_1pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row0_1banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row0_1decider').overlay
                      img(src='../img/Decider.png')
                    div(id='row0_2').colbox
                     div(id='row0_2img').bck
                      img(src='http://static9.cdn.ubi.com/resource/en-US/game/rainbow6/siege/R6-game-info-map-bank-08_229700.jpg')
                     h6 Bank
                     div(id='row0_2pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row0_2banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row0_2decider').overlay
                      img(src='../img/Decider.png')
            div.row1
                div(id='row1_0').boxdims
                     div(id='row1_0img').bck
                      img(src='http://static9.cdn.ubi.com/resource/en-US/game/rainbow6/siege/R6-game-info-map-kafe-dostoyevsky-07_229733.jpg')
                     h6 Kafe
                     div(id='row1_0pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row1_0banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row1_0decider').overlay
                      img(src='../img/Decider.png')
                div.col2.coldim
                    div(id='row1_1').colbox 
                     div(id='row1_1img').bck
                      img(src='https://vignette.wikia.nocookie.net/rainbowsix/images/f/f6/051060.png/revision/latest/zoom-crop/width/320/height/320?cb=20160515171604')
                     h6 Border
                     div(id='row1_1pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row1_1banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row1_1decider').overlay
                      img(src='../img/Decider.png')
                    div(id='row1_2').colbox
                     div(id='row1_2img').bck
                      img(src='https://steamuserimages-a.akamaihd.net/ugc/933804182311066499/CFBE8060BA8EA960FA2D090A746204738E547C72/')
                     h6 Coastline
                     div(id='row1_2pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row1_2banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row1_2decider').overlay
                      img(src='../img/Decider.png')
            div.row2
                div(id='row2_0').boxdims
                     div(id='row2_0img').bck
                      img(src='http://static9.cdn.ubi.com/resource/en-US/game/rainbow6/siege/R6-game-info-map-oregon-14_229739.jpg')
                     h6 Oregon
                     div(id='row2_0pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row2_0banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row2_0decider').overlay
                      img(src='../img/Decider.png')
                div.col2.coldim
                    div(id='row2_1').colbox
                     div(id='row2_1img').bck
                      img(src='http://d1vr6n66ssr06c.cloudfront.net/wp-content/uploads/2016/11/Rainbow-Six-Siege-map.jpg')
                     h6 Skyscraper
                     div(id='row2_1pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row2_1banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row2_1decider').overlay
                      img(src='../img/Decider.png')
                    div(id='row2_2').colbox
                     div(id='row2_2img').bck
                      img(src='http://static9.cdn.ubi.com/resource/en-US/game/rainbow6/siege/R6-game-info-map-chalet-14_229707.jpg')
                     h6 Chalet
                     div(id='row2_2pick').overlay
                      img(src='../img/Pick.png')
                     div(id='row2_2banned').overlay
                      img(src='../img/Banned.png')
                     div(id='row2_2decider').overlay
                      img(src='../img/Decider.png')
        hr
   footer
        br
        div(style='text-align:left; float:left;')
          a
            p ©2017 Mister-Gaming
        div(style='text-align:right; float: right;')
          a(href='Impressum.php')
            p Impressum
        #Mitte(;='', style='text-align:center; float: center;')
          a(href='https://www.youtube.com/channel/UCjKOMwqWnHGpZnBWu5RLyyg/featured')
            img(src='img/Icon/youtube.png')
          a(href='https://twitter.com/MisterGamingDE')
            img(src='img/Icon/twitter.png')
    -//Smooth Scrolling
    script(src='//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script.
      $('a[href^="#"]').on('click', function(event) {
      var target = $(this.getAttribute('href'));
      if( target.length ) {
      event.preventDefault();
      $('html, body').stop().animate({
      scrollTop: target.offset().top
      }, 1000, 'swing');
      history.pushState("", document.title, window.location.pathname);
      }
      });

